.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.title {
    color: var(--primary);
    font-size: 3.2em;
    line-height: 1.1;
}

@media (min-width: 640px) {
    .fold {
        padding-inline: 10vw;
    }
}

@media (min-width: 1240px) {
    .fold {
        padding-inline: 15vw;
    }
}