@layer components {
    .fold {
        container-type: inline-size;
        container-name: page-fold;

        display: flex;
        flex-direction: column;
        justify-content: center;
        position: sticky;
        top: 0;
        height: 50vh;

        padding-block: 2em;
        border: none;
        border-top: 2px solid var(--border);

        border-radius: 0;

        h2 {
            margin-block-start: 0;
        }

        p {
            margin: 0;
        }
    }

    @media (min-width: 640px) {
        .fold {
            h2 {
                font-size: 1.5em;
            }

            p {
                font-size: 1.1em;
            }
        }
    }

    @media (min-width: 1024px) {
        .fold {
            h2 {
                font-size: 2em;
            }

            p {
                font-size: 1.2em;
            }
        }
    }
}
