:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text1);
  background-image: linear-gradient(to bottom right, var(--surface1), hsl(from var(--surface1) h s calc(l - 0.05)));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: var(--brand);
  font-size: 3.2em;
  line-height: 1.1;
}
